<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge" /> -->
    <link rel="stylesheet" href="../static/style.css" />
    <title>Bewerte Dein Training</title>
  </head>
  <body>
    <div class="container">

      <img src="../static/logo.png" alt="Lauf Mama Lauf" class="logo" />
      <h2>Team Fürth</h2>

      {% if message %}
      <p class="message">{{ message | safe }}</p>
      {% endif %}

      <form action="/submit" method="POST">
        <div class="form-group">
          <h3>Kurs</h3>
          <select name="course">
            <option value="">(Auswahl)</option>
            <option value="KIWA">Kinderwagenkurs</option>
            <option value="MMM">Mama macht mehr</option>
            <option value="Laufkurs">Laufkurs</option>
            <option value="Yoga">Yoga</option>
            <option value="YogaSchwangere">Yoga für Schwangere</option>
            <option value="YogaPostnatal">Postnatal Yoga</option>
            <option value="Pilates">Pilates</option>
          </select>
        </div>
        <div class="form-group">
          <label>
            teilgenommen am:
            <input type="date" name="course_date" min="2021-10-01" max="2022-12-31" 
              required pattern="\d{4}-\d{2}-\d{2}">
            <span class="validity"></span>
          </label>
        </div>
        <div class="form-group">
          <h3>Bewerte Deinen Kurs <span class="small-hint">10=sehr gut</span></h3>
          <fieldset id="rating">
            <input type="radio" name="rating" value="1" /> 1
            <input type="radio" name="rating" value="2" /> 2
            <input type="radio" name="rating" value="3" /> 3
            <input type="radio" name="rating" value="4" /> 4
            <input type="radio" name="rating" value="5" checked /> 5
            <input type="radio" name="rating" value="6" /> 6
            <input type="radio" name="rating" value="7" /> 7
            <input type="radio" name="rating" value="8" /> 8
            <input type="radio" name="rating" value="9" /> 9
            <input type="radio" name="rating" value="10"/> 10
          </fieldset>
        </div>
        <div class="form-group">
            <h3>Würdest Du Lauf Mama Lauf einem Freund empfehlen?
              <span class="small-hint">10=definitiv</span>
            </h3>
            <fieldset id="recommendation">
              <input type="radio" name="recommendation" value="1" /> 1
              <input type="radio" name="recommendation" value="2" /> 2
              <input type="radio" name="recommendation" value="3" /> 3
              <input type="radio" name="recommendation" value="4" /> 4
              <input type="radio" name="recommendation" value="5" checked /> 5
              <input type="radio" name="recommendation" value="6" /> 6
              <input type="radio" name="recommendation" value="7" /> 7
              <input type="radio" name="recommendation" value="8" /> 8
              <input type="radio" name="recommendation" value="9" /> 9
              <input type="radio" name="recommendation" value="10"/> 10
          </fieldset>
        </div>
        <div class="form-group">
          <h3>Feedback</h3>
          <textarea
            name="comments"
            id=""
            cols="30"
            rows="10"
            placeholder="Gib uns Feedback zu unserem Kurs, zum Trainer und zur Uhrzeit. Was wünscht Du Dir?"
          ></textarea>
        </div>
        <input type="submit" value="Senden" class="btn" />
      </form>
    </div>
  </body>
</html>
